body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header{
    text-align: center;
}

h1{
    font-size: 3em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-family: 'nunito', sans-serif;
    color: #795548;
}

.recomendador-app {
    text-align: center;
    margin: 2em 0;
}

@media (max-width: 768px) {
  .img {
    width: 100%;
  }
}